Glacier2.InstanceName=Glacier2
Ice.Default.EncodingVersion=1.0
Ice.Plugin.IceWS=/opt/IceJS-0.1.0/lib/IceWS:createIceWS
Ice.MessageSizeMax=100000

Glacier2.Client.Endpoints=ws -h h123062.ncnr.nist.gov -p 4064:tcp -h h123062.ncnr.nist.gov -p 4063:tcp -h localhost -p 1234
Glacier2.PermissionsVerifier=Glacier2/NullPermissionsVerifier
Glacier2.Server.Endpoints=tcp -h localhost

Glacier2.SessionManager=Glacier2ClientApiSessionManager -e 1.0:tcp -h localhost -p 1233

Glacier2.Client.Trace.Reject=1
Glacier2.Client.Trace.Request=1
Glacier2.Server.Trace.Request=1
#Glacier2.Trace.RoutingTable=3
Glacier2.Trace.Session=1
Ice.Warn.Connections=1
