
#devicegrid .x-grid-cell-first {
    display: none;
}


.node-style-done .x-grid-cell-inner  { 
    color : grey;
    
}

.node-style-run .x-grid-cell-inner  { 
    color : green;    
}

.node-style-queued .x-grid-cell-inner  { 
    color : #000066;
    
}

.node-style-default .x-grid-cell-inner  { 
    color : black;
    
}

.x-gecko .x-tree-panel .x-grid-row .x-grid-cell-inner  { 
    line-height: 18px;

}

.x-tree-panel .x-grid-row .x-grid-cell-inner  { 
    font-size: 14px;
}

.x-grid-cell-inner img.node-icon-run {
    width:16px;
    height: 16px;
    background-image:url('/static/images/runner.png');
    /* background-image:url('/static/images/listen.png'); */
    /* background-image:url('/static/images/loading.gif'); */
}

.x-grid-cell-inner img.node-icon-default {
    width:16px;
    height: 16px;
    background-image:none;
}

.x-grid-cell-inner img.node-icon-done {
    width:16px;
    height: 16px;
    background-image:url('/static/images/checkmark.png');
}

.x-grid-cell-inner img.node-icon-queued {
    width:16px;
    height: 16px;
    background-image:url('/static/images/clock-arrow-icon.png');
}
.x-grid-cell-inner img.node-icon-error {
    width:16px;
    height: 16px;
    background-image:url('/static/images/error.png');
}

